.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(135px, auto);
    background: #333333;
    grid-gap: 10px 10px;
}

.container .big {
    display: flex;
    background: #51D400;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    justify-content: center;
    align-items: center;
}

.container .big div{
    background: #FFD62A;
    width: 80%;
    height: 60%;
}

.container div {
    background: #B02AFF;
}