.header {
    display: flex;
    width: 540px;
    height: 100px;
    background: #00FFFF;
    margin: auto;
}

.container {
    display: flex;
    width: 540px;
    height: 500px;
    background-color: white;
    margin: auto;
    justify-content: space-between;
}

.left {
    background: #FEA500;
    width: 100px;
}

.middle {
    background: #FE0000;
    width: 300px;
}

.right {
    background: #81007F;
    width: 100px;
}

.footer {
    background: #0000FE;
    width: 540px;
    height: 100px;
    margin: auto;
}