body {
    display: flex;
    margin: auto;
}

.container {
    margin: 0px;
    padding: 0;
    display: flex;
    width: 700px;
    height: 400px;
    justify-content: space-between;
    background: #2F3060;
    align-items: center;
}

p {
    color: white;
    text-align: center;
    margin: 0;
}

.element {
    display: flex;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.blue {
    background: linear-gradient(to bottom, #4665A5, #375493);
    box-shadow: 0px -2px 0 #5577BF, 0px 5px 0 #26396D;
    margin-left: 100px;
}

.red {
    background: linear-gradient(to bottom, #D74836, #CF3D2D);
    box-shadow: 0px -2px 0 #DC6453, 0px 5px 0 #862B2F;
}

.green {
    background: linear-gradient(to bottom, #1DAF5B, #17A04D);
    box-shadow: 0px -2px 0 #55D38B, 0px 5px 0 #166A40;
    margin-right: 100px;
}

.element:hover {
    filter: brightness(110%);
}

.element:active {
    filter: brightness(90%);
}