.container {
    display: flex;
    width: 680px;
    background-color: white;
    margin: auto;
}

.header {
    display: flex;
    width: 680px;
    height: 55px;
    background-color: #c000ff;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    height: 25px;
    background-color: #00eeff;
    margin: 5px;
}

.first {
    width: 95px;
}

.second {
    width: 75px;
}

.third {
    width: 85px;
}

.main {
    background-color: #FFD62A;
}