* {
    margin: 0;
}

.container {
    display: grid;
    height: 580px;
    width: 100%;
}

.header {
    width: 100%;
    background: #B02AFF;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 10px;
}

.header span {
    background: #2AEAFF;
    width: 85px;
    height: 35px;
    margin-right: 15px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 7fr;
    grid-gap: 10px;
}

.left {
    background: #51D400;
    margin-left: 50px;
    height: 430px;
}

.right {
    background: #FFD62A;
    height: 430px;
    margin-right: 50px;    
}

.footer {
    background: #CCCCCC;
    height: 55px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}