.container {
    display: flex;
    height: 300px;
    width: 600px;
}

.green, .yellow, .purple {
    height: 100px;
    width: 100px;
}

.green {
    background-color: green;
    flex-grow: 1;
}

.yellow {
    background-color: yellow;
    flex-grow: 2;    
}

.purple {
    background-color: purple;
    flex-grow: 1;    
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    
    .item {
        width: 100%;
    }
}