.container {
    display: flex;
    height: 300px;
    width: 600px;
}

.green {
    height: 100px;
    width: 100px;
    background-color: green;
    flex-grow: 1;
}

.yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    flex-grow: 2;    
}

.purple {
    height: 100px;
    width: 100px;
    background-color: purple;
    flex-grow: 1;    
}

@media (min-width: 600px) {
    .container {
        flex-wrap: wrap;
    }
}