.container {
    display: flex;
    height: 400px;
    width: 100%;
    background-color: yellow;
    padding: 0;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
  }

.item {
    height: 100px;
    width: 100px;
    background-color: purple;
    align-self: flex-end;
    margin: 2px;
}