table {
    width: 780px;
    border-collapse: collapse;
    margin: auto;
}

th {
    border: 2px solid #C1C3D1;
    background: #1B1E25;
    color: #D4DCE5;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
    border-bottom:  5px solid #C1C3D1;
    padding-left: 30px;
}

tr {
    height: 80px;
    background: #EBEBEB;
}

tr:nth-child(even) {
    background: #FFFFFF;
}

td {
    border: 2px solid #C1C3D1;
    padding-left: 30px;
    font-size: 20px;
    color: #656A85;
    font-family: 'Roboto', sans-serif;
}
