* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    padding: 10px;
}

p {
    margin: 0;
    font-size: 15px;
}

h1 {
    font-family: Raleway;
    font-weight: 300;
    font-size: 40px;
    padding: 10px 50px 10px 70px;
    border: solid black 1px;
}

h2{
    font-size: 17px;
    font-family: Raleway;
    font-weight: 300;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    font-size: 25px;
    font-family: Raleway;
    font-weight: 300;
    padding: 15px 15px;
    /*padding-bottom: 30px;*/
    text-align: center;
    border: black 1px solid;
}

h4 {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-family: Raleway;
    font-weight: 300;
    padding-left: 25px;
}

.mainbox {
    background:  #99ff99;
    width: 625px;
    height: 830px;
    margin: auto;
    display: inline-block;
    padding: 0px 30px 30px 30px;
}

header {
    display: block;
    background:  #99ff99
    ;
    width: 100%;
    height: 45px;
    font-size: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px 0px;
}

.innerleft{
    width: 285px;
    display: inline-block;
    height: 415px;
    background:  #b3ffb3;
    padding: 12px;
    float: left;
    margin: 0;
    margin-bottom: 0;
    padding-left: 10px;
    border-bottom: dashed 1px;
}

.innerright {
    width: 285px;
    display: inline-block;
    height: 415px;
    background:  #b3ffb3;    
    display: inline-block;
    padding: 12px;
    margin-left: 7px;   
    margin-bottom: 0; 
    border-bottom: dashed 1px;
    
}

.bottom {
    background:  #b3ffb3;
    width: 100%;
    height: 280px;
    margin: auto;
    margin-top: 15px;
    display: block;
}

.birth {
    display: inline-block;
    width: 137px;
    height: 45px;
    /*border: white 3px solid;*/
    margin: 40px 0px 30px;
    margin-bottom: 0;
}

.gender {
    display: inline-block;
    width: 136px;
    height: 45px;
    /*border: white 3px solid;*/
    margin: 40px 0px 30px;
    float: right;
    padding: 0;
    margin-bottom: 0;
    
}

.multiplechoice {
    display: block;
    width:  100%;
    height: 150px;
   /* border: white 3px solid;*/
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.leftchoice {
    display: inline-block;
}

.rightchoice {
    display: inline-block;
}

[type="text"] {
    margin-left: 10px;
    border-radius: 2px;
}

[type="number"] {
    width: 60px;
    margin-left: 10px;
    border-radius: 2px;
}

.leftchoice {
    padding-left: 30px;
    line-height: 1.5em;
}

.rightchoice {
    padding-left: 30px;
    line-height: 1.5em;
}

#email {
    margin-left: 10px;
    border-radius: 2px;
}

#tel {
    margin-left: 10px;
    border-radius: 2px;
    
}

textarea {
    margin-left: 10px;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    border-radius: 2px;
    
}

#facebook {
    margin-left: 10px;
    border-radius: 2px;
    
}

#submit {
    margin-left: 10px;
    width: 140px;
    height: 30px;
}

#accept {
    margin: 10px;
    font-family: Raleway;
    font-size: 14px;
}

