* {
    box-sizing: border-box;
    margin: 5px 0px;
}

body {
    width: 470px;
    font-family: sans-serif;
    margin: 5px;
}

h1 {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background: #0CEBDE;
    display: inline-block;
    text-align: center;
    color: white;
    line-height: 30px;
    padding: 50px 0px;
}

h1:first-child {
    background-color: #B90CEB;
}

h1:last-child {
    background-color: #EBBE0C;
}